.u-section-1 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-1 .u-image-1 {
  width: 293px;
  height: 115px;
  margin: 52px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 320px 0 0;
}

.u-section-1 .u-text-3 {
  text-decoration: underline !important;
  margin: 20px 320px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: normal;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px auto 0 279px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 201px 818px 0 30px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  text-transform: none;
  margin: -25px 506px 0 342px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 212px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/img-mini-banner.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 30px 0;
}

.u-section-1 .u-text-6 {
  margin: 110px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/img-mini-banner2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 30px 0;
}

.u-section-1 .u-text-8 {
  margin: 110px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/img-mini-banner3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 2px 30px 0;
}

.u-section-1 .u-text-10 {
  margin: 110px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .embed-responsive-1 {
  height: 100%;
  width: 194%;
  left: -47%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 120px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 120px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 296px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 285px;
    margin-right: 648px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 336px;
    margin-left: 312px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 174px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 73px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 73px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 73px;
    margin-right: 90px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 199%;
    left: -49%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 428px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 226px;
    margin-left: 202px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 413px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .embed-responsive-1 {
    width: 191%;
    left: -46%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -49px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 248px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -25px;
    margin-right: 136px;
    margin-left: 112px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 255%;
    left: -78%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 36px;
    margin-left: 12px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 405%;
    left: -153%;
  }
} .u-section-2 {
  background-image: url("images/banner-bloco1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-image-1 {
  width: 293px;
  height: 115px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 30px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 199px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 483px;
}

.u-section-3 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  min-height: 473px;
  height: auto;
  background-image: url("images/img-bloco3-esquerda.jpg");
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 187px;
  height: auto;
  margin-top: 299px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-3 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 18px 0 0;
}

.u-section-3 .u-image-2 {
  height: 339px;
  width: 1015px;
  margin: -525px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 473px;
  height: auto;
  width: calc(((100% - 1140px) / 2) + 560px);
  margin: -473px 0 10px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-group-4 {
  min-height: 183px;
  height: auto;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-3 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-3 .u-image-4 {
  height: 349px;
  margin-top: -533px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1021px;
  }

  .u-section-3 .u-image-1 {
    min-height: 493px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 298px;
    min-height: 212px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 362px;
    margin-top: -573px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 498px;
    margin-top: 18px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -2px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 0;
    min-height: 211px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 40px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -560px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 945px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 281px;
    min-height: 226px;
  }

  .u-section-3 .u-image-2 {
    height: 316px;
    margin-top: -542px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    min-height: 440px;
    margin-top: 12px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 231px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-4 {
    height: 267px;
    margin-top: -478px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1027px;
  }

  .u-section-3 .u-image-1 {
    min-height: 503px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-top: 277px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 317px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    min-height: 524px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 313px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 370px;
    margin-top: -581px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 841px;
  }

  .u-section-3 .u-image-1 {
    min-height: 456px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    min-height: 206px;
    margin-top: 249px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 40px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    height: 281px;
    margin-top: -487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    min-height: 385px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 183px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -4px;
  }

  .u-section-3 .u-image-4 {
    height: 231px;
    margin-top: -438px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/bloco4-image.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 85px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 40px 570px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: 45px auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -49px auto 60px 208px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 107px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -48px;
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 53.32% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 12px;
    margin-bottom: 59px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/bloco-mensalidade.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  margin: 30px 570px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 40px 570px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  background-image: none;
  margin: 52px auto 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -49px auto 60px 166px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 79px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 166px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 61.89% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 170px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 154px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 56.84% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 11px;
    margin-bottom: 30px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/bloco-lk.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  margin: 23px 225px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 40px 570px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  background-image: none;
  margin: 23px auto 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -49px auto 38px 306px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-6 .u-btn-2 {
    margin-bottom: 60px;
    margin-left: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 264px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: auto;
    margin-left: 306px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 58.93% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 11px;
    margin-bottom: 30px;
    margin-left: 0;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/warcraft-arclight.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  margin: 22px 570px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 40px 570px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  background-image: none;
  margin: 49px auto 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: -49px auto 60px 279px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: -48px;
    margin-left: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 75px;
    margin-right: 350px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: -49px;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 121px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 63% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-8 {
  background-image: none;
  min-height: 410px;
}

.u-section-8 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  min-height: 406px;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-group-2 {
  min-height: 108px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-8 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-8 .u-group-3 {
  min-height: 409px;
  height: auto;
  width: 1004px;
  margin: -409px 0 1px auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  height: 299px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-8 .u-group-4 {
  min-height: 104px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 841px;
  }

  .u-section-8 .u-group-1 {
    min-height: 415px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    height: 290px;
  }

  .u-section-8 .u-group-2 {
    min-height: 125px;
    height: auto;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-8 .u-group-3 {
    min-height: 425px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-8 .u-image-2 {
    height: 301px;
    margin-top: -2px;
  }

  .u-section-8 .u-group-4 {
    min-height: 125px;
    width: 1048px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -8px;
    height: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 703px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 2px;
    min-height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 222px;
  }

  .u-section-8 .u-group-2 {
    min-height: 127px;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 8px;
    margin-left: 4px;
  }

  .u-section-8 .u-group-3 {
    min-height: 350px;
    margin-bottom: 2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 231px;
  }

  .u-section-8 .u-group-4 {
    min-height: 119px;
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 563px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 0;
    min-height: 285px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-8 .u-image-1 {
    height: 155px;
  }

  .u-section-8 .u-group-2 {
    min-height: 135px;
    margin-top: -5px;
    margin-bottom: -7px;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-8 .u-group-3 {
    min-height: 279px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 173px;
  }

  .u-section-8 .u-group-4 {
    min-height: 94px;
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 458px;
  }

  .u-section-8 .u-group-1 {
    min-height: 211px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-8 .u-image-1 {
    height: 122px;
  }

  .u-section-8 .u-group-2 {
    min-height: 89px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-8 .u-group-3 {
    min-height: 205px;
    margin-top: 21px;
    margin-bottom: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 121px;
  }

  .u-section-8 .u-group-4 {
    min-height: 85px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-top: 30px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 478px;
}

.u-section-9 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 560px);
  min-height: 371px;
  height: auto;
  background-image: url("images/bloco8.jpg");
  background-position: 23.42% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-group-2 {
  min-height: 107px;
  height: auto;
  width: calc(((100% - 1140px) / 2) + 570px);
  margin: 0 auto 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-9 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-image-2 {
  width: 1004px;
  min-height: 371px;
  height: auto;
  background-image: url("images/bloco8.2.jpg");
  background-position: 50% 50%;
  margin: -478px calc(((100% - 1140px) / 2) + -434px) 0 auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-group-4 {
  min-height: 107px;
  height: auto;
  width: calc(((100% - 1140px) / 2) + 570px);
  margin: 0 0 0 auto;
}

.u-section-9 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-9 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 976px;
  }

  .u-section-9 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-9 .u-group-4 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-4 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
} .u-section-10 {
  background-image: url("images/img-recrute-um-amigo.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 74px 0 0 570px;
}

.u-section-10 .u-text-2 {
  margin: 34px 0 0 570px;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  margin: 41px 0 60px auto;
}

@media (max-width: 1199px) {
   .u-section-10 {
    background-position: 36.7% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 67px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 170px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    background-position: 41.71% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin: 45px auto 56px 0;
  }
} .u-section-11 {
  background-image: url("images/img-bloco-final.png");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 400px;
}

.u-section-11 .u-text-1 {
  margin: 43px 570px 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 40px 570px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  background-image: none;
  margin: 49px auto 42px 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    background-position: 82.41% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-right: 370px;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    background-position: 76.43% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 64px;
}

.u-section-12 .u-icon-1 {
  width: 33px;
  height: 32px;
  margin: 13px 384px 0 auto;
  padding: 0;
}

.u-section-12 .u-icon-2 {
  width: 33px;
  height: 32px;
  margin: -32px 316px 0 auto;
  padding: 0;
}

.u-section-12 .u-icon-3 {
  width: 33px;
  height: 32px;
  margin: -32px 248px 0 auto;
  padding: 0;
}

.u-section-12 .u-icon-4 {
  width: 33px;
  height: 32px;
  margin: -32px 454px 0 auto;
  padding: 0;
}

.u-section-12 .u-icon-5 {
  width: 33px;
  height: 32px;
  margin: -31px 524px 0 auto;
  padding: 0;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: -31px auto 20px 302px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-12 .u-icon-1 {
    width: 34px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 568px;
  }

  .u-section-12 .u-icon-2 {
    width: 34px;
    margin-right: auto;
    margin-left: 617px;
  }

  .u-section-12 .u-icon-3 {
    width: 34px;
    margin-right: auto;
    margin-left: 666px;
  }

  .u-section-12 .u-icon-4 {
    width: 34px;
    margin-right: auto;
    margin-left: 519px;
  }

  .u-section-12 .u-icon-5 {
    width: 34px;
    margin-right: 432px;
    margin-left: 470px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-bottom: 23px;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-12 .u-icon-1 {
    width: 32px;
    height: 30px;
    margin-top: 20px;
    margin-right: 203px;
    margin-left: auto;
  }

  .u-section-12 .u-icon-2 {
    width: 32px;
    height: 30px;
    margin-top: -33px;
    margin-right: 155px;
    margin-left: auto;
  }

  .u-section-12 .u-icon-3 {
    width: 32px;
    height: 30px;
    margin-top: -30px;
    margin-right: 105px;
    margin-left: auto;
  }

  .u-section-12 .u-icon-4 {
    width: 32px;
    height: 30px;
    margin-top: -29px;
    margin-right: 252px;
    margin-left: auto;
  }

  .u-section-12 .u-icon-5 {
    width: 32px;
    height: 30px;
    margin-top: -29px;
    margin-right: 301px;
    margin-left: auto;
  }

  .u-section-12 .u-text-1 {
    margin-top: -32px;
    margin-bottom: 22px;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-icon-1 {
    margin-top: 23px;
    margin-right: 143px;
  }

  .u-section-12 .u-icon-2 {
    margin-top: -32px;
    margin-right: 87px;
  }

  .u-section-12 .u-icon-3 {
    margin-top: -31px;
    margin-right: 31px;
  }

  .u-section-12 .u-icon-4 {
    margin-right: 199px;
  }

  .u-section-12 .u-icon-5 {
    margin-top: -30px;
    margin-right: auto;
    margin-left: 253px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -28px;
    margin-bottom: 23px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: 80px;
    margin-right: auto;
  }

  .u-section-12 .u-icon-2 {
    margin-top: -30px;
    margin-right: 102px;
  }

  .u-section-12 .u-icon-3 {
    margin-top: -30px;
    margin-right: 46px;
  }

  .u-section-12 .u-icon-4 {
    margin-right: auto;
    margin-left: 98px;
  }

  .u-section-12 .u-icon-5 {
    margin-left: 46px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -91px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 184px;
}

.u-section-13 .u-image-1 {
  width: 202px;
  height: 105px;
  margin: 20px auto 0;
}

.u-section-13 .u-text-1 {
  margin: 27px 0 10px;
}